.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  color: black;
  padding: 15px;
  border: auto black;
}

h1 {
  border: 1px solid black;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  border-radius: 55px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin: auto;
  width: 300px;
}

h2 {
  font-size: small;
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 300px;
}

p {
  font-weight: bold;
  width: fit-content;
  text-decoration: underline;
  position: relative;
}

ol, ul, li {
  position: relative;
  width: fit-content;
}

#welcome-screen {
  padding: 5px;
  text-align: center;
  margin: auto;
}

#game-screen {
  border: none;
  width: fit-content;
  height: fit-content;
  top: auto;
}

button {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: grid;
  font-size: 25px;
  font-weight: bold;
  margin: auto;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 55px;
}

button:hover {
  background-color: green;
  color: white;
  border: 2px solid black;
  text-align: center;
}